<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places delete</title>
</head>
<body>
<form action="/placesDelete" method="POST">
    <a href="/">Home page</a><br>
    <a href="/places">Places</a><br><br><br>
    {{placeForm.hidden_tag()}}

    {{placeForm.delete_place_id.label}}{{placeForm.delete_place_id}}<br/>

    {{placeForm.submit}}
</form>

<div>
    <!--error section-->
    Error list : {{placeForm.errors}}
    <!--{%for error in placeForm.errors%}-->
    <!--{{error}}-->
    <!--{%endfor%}-->
</div>

<div>
    Deletion status :<br>
    {{deletionStatus}}
    <!--{%for row in creationStatus%}-->
    <!--{{row}}<br>-->
    <!--{%endfor%}-->
</div>
</body>
</html>