<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places read</title>
</head>
<body>
<form action="/placesRead" method="POST">
    <a href="/">Home page</a><br>
    <a href="/places">Places</a><br><br><br>
    {{placeForm.hidden_tag()}}

    <!--{{placeForm.select_place_id.label}}{{placeForm.select_place_id}}<br/>-->
    {{placeForm.select_place_id.label}}{{placeForm.select_place_id}}<br>
    {{placeForm.combobox_id.label}}{{placeForm.combobox_id}}<br>
    {{placeForm.submit}}
</form>

<div>
    Error list : {{placeForm.errors}}

    <!--{%for error in placeForm.errors%}-->
    <!--{{error}}-->
    <!--{%endfor%}-->
</div>

<div>
    <!--selected places-->
    Place list :<br>
    {%for row in selectedPlaces%}
    {{row}}<br>
    {%endfor%}
</div>
</body>
</html>