<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users delete</title>
</head>
<body>
<form action="/usersDelete" method="POST">
    <a href="/">Home page</a><br>
    <a href="/users">Users</a><br><br><br>
    {{userForm.hidden_tag()}}

    {{userForm.delete_user_login.label}}{{userForm.delete_user_login}}<br/>

    {{userForm.submit}}
</form>

<div>
    <!--error section-->
    Error list : {{userForm.errors}}
    <!--{%for error in userForm.errors%}-->
    <!--{{error}}-->
    <!--{%endfor%}-->
</div>

<div>
    Deletion status :<br>
    {{deletionStatus}}
    <!--{%for row in creationStatus%}-->
    <!--{{row}}<br>-->
    <!--{%endfor%}-->
</div>
</body>
</html>